exportPattern("^[[:alpha:]]+")
importFrom("textutils", trim)
importFrom("datetimeutils", rfc822t)

importFrom("graphics", "lines")
importFrom("stats", "aggregate")
importFrom("utils", "news", "tail")
